.btn {
    background: #17aac9;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-top: 5px;
    /* padding: 20px px; */
    transition: 0.5s;
    border-radius: 3px;
    font-weight: 600;
}

.btn:hover {
    border: 1px solid #17aac9;
    color: #17aac9;
    background: #070c33;
}

@media (max-width: 880px) {
    .btn {
        background: #17aac9;
        color: #fff;
        display: inline-block;
        font-size: 15px;
        margin-top: 5px;
        /* padding: 14px 30px; */
        transition: 0.5s;
        border-radius: 3px;
        font-weight: 500;
    }

    .btn:hover {
        border: 1px solid #17aac9;
        background: #070c33;
        color: #17aac9;
    }
}